
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="https://imgs.search.brave.com/IS3ECAw-N7V5vfLuJOPJQwYn0zPRLDKKDI5LT2JFpxU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y3NvZGJyYW5kLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MS8xMC9Db3JuZXJz/dG9uZS1Mb2dvLUhv/cml6b250YWwucG5n" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>  
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="/admin/adminHome">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                      <li class="menu-item">
                        <a class="menu-link" href="/admin/users">  
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Users</span>
                        </a>
                    </li>
                 
                  <li class="menu-item ">
                        <a class="menu-link" href="/admin/category">
                            <i class="icon material-icons md-category"></i>
                            <span class="text">Categories</span>
                        </a>
                        
                    </li>
                  
                       <li class="menu-item ">
                        <a class="menu-link" href="/admin/products">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        
                    </li>

                      <li class="menu-item ">
                        <a class="menu-link" href="/admin/orders">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                      
                    </li>
                   
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/coupon">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text">Coupons</span>
                        </a>
                      
                    </li>
           
<li class="menu-item">
    <a class="menu-link" href="/admin/offer">
        <i class="icon material-icons md-local_offer"></i>
        <span class="text">Offers</span>
    </a>
</li>

<li class="menu-item">
    <a class="menu-link" href="/admin/banners">
        <i class="icon material-icons md-ad_units"></i>
        <span class="text">Banners</span>
    </a>
</li>
                    
                   
                </ul>
                <hr />
              
                <br />
                <br />
            </nav>
        </aside>