<%- include('./layouts/header.ejs')  %>
<%- include('./layouts/headerNavbar.ejs')  %>
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="container">
	        	<div class="page-header page-header-big text-center" style="background-image: url('assets/images/aboutUs.webp')">
        			<h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <h2 class="title">Our Vision</h2><!-- End .title -->
                            <p>
At Cornerstone, our vision transcends the mere creation of furniture; we aspire to craft living spaces that resonate with individuality, functionality, and enduring quality. With an unwavering commitment to innovation and design excellence, we envision a world where every piece we create becomes a cornerstone of comfort and style in homes and spaces across the globe. Rooted in the belief that furniture should seamlessly blend aesthetics with utility, we strive to redefine the way people experience and interact with their surroundings. Our vision is to be more than a furniture provider; we aim to be a catalyst for inspiration, fostering a sense of belonging and personal expression in the spaces we touch. At Cornerstone, we're not just shaping furniture; we're shaping the way people live. </p>
                        </div><!-- End .col-lg-6 -->
                        
                        <div class="col-lg-6">
                            <h2 class="title">Our Mission</h2><!-- End .title -->
                            <p>
At Cornerstone, our mission is to revolutionize the furniture industry by offering meticulously crafted pieces that embody timeless design, unparalleled quality, and sustainable practices. We are dedicated to providing our customers with more than just furniture; our mission is to enhance their lives through thoughtfully curated collections that seamlessly merge functionality and aesthetics. Committed to eco-conscious manufacturing and responsible sourcing, we aim to contribute to a more sustainable and mindful way of living. Cornerstone's mission extends beyond the creation of beautiful furniture; it is a commitment to enriching the homes and lives of our customers while promoting a harmonious coexistence with the environment. </p>
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->

                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 mb-3 mb-lg-0">
                                <h2 class="title">Who We Are</h2><!-- End .title -->
                                <p class="lead text-primary mb-3">we are the architects of inspired living spaces. Rooted in a passion for design excellence and a commitment to unparalleled craftsmanship.</p><!-- End .lead text-primary -->
                                <p class="mb-2"> we transcend the ordinary to curate a collection of furniture that defines elegance and functionality. Our identity is forged in the artistry of creating pieces that stand as testaments to timeless style and enduring quality. More than a furniture brand, we are the embodiment of innovation, sustainability, and the pursuit of a harmonious coexistence between form and function. Welcome to Cornerstone.</p>

                            
                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-6 offset-lg-1">
                                <div class="about-images">
                                    <img src="assets/images/about/img-1.webp" alt="" class="about-img-front">
                                    <img src="assets/images/about/img-2.webp" alt="" class="about-img-back">
                                </div><!-- End .about-images -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->


                <div class="mb-2"></div><!-- End .mb-2 -->

                <div class="about-testimonials bg-light-2 pt-6 pb-6">
                    <div class="container">
                        <h2 class="title text-center mb-3">What Customer Say About Us</h2><!-- End .title text-center -->

                        <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "1200": {
                                        "nav": true
                                    }
                                }
                            }'>
                            <blockquote class="testimonial text-center">
                                <img src="assets/images/testimonials/user-1.webp" alt="user">
                                <p>
What Customers Say About Us

"Cornerstone has truly transformed our living spaces. The furniture exudes a perfect blend of sophistication and comfort. The attention to detail and quality craftsmanship are evident in every piece. From the seamless ordering process to the timely delivery, their commitment to customer satisfaction is commendable. Our home now feels like a sanctuary, thanks to Cornerstone's exquisite designs. Highly recommended!"</p>
                                <cite>
                                    Jenson Gregory
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->

                            <blockquote class="testimonial text-center">
                                <img src="assets/images/testimonials/user-2.webp" alt="user">
                                <p>
"Cornerstone exceeded my expectations! The attention to detail and quality craftsmanship are remarkable. Each piece effortlessly combines style and functionality, elevating my living spaces. The customer service was impeccable, making the entire experience seamless. I highly recommend Cornerstone for those seeking exceptional, timeless furniture."</p>

                                <cite>
                                    Victoria Ventura
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->
                        </div><!-- End .testimonials-slider owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-5 pb-6 -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

  
<%- include('./layouts/footer.ejs')  %>
<%- include('./layouts/footerNavbar.ejs')  %>
